<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>

    <link rel="stylesheet" href="../components/style/main/main.css">
</head>
<body>
    <div class="container">
                    <div class="nav_header">
                        <div class="nav_logo">
                            <img src="../icon/view-dashboard.svg" alt="">
                            <span>Dashboard</span>
                        </div>
                        <div class="nav_notification">
                            <ul class="nav_navigator_u">
                                <li class="li_1"><div class="li_home"></div>Home</li>
                                <li class="li_2"><div class="li_profile"></div>Profile</li>
                                <li class="li_3"><div class="li_message"></div>Message</li>
                                <li class="li_4"><div class="li_history"></div>History</li>
                                <li class="li_5"><div class="li_tasks"></div>Tasks</li>
                                <li class="li_6"><div class="li_communities"></div>Communities</li>
                            </ul>
                            <ul class="nav_navigator_d">
                                <li class="li_7"><div class="li_settings"></div>Settings</li>
                                <li class="li_8"><div class="li_support"></div>Support</li>
                                <li class="li_9"><div class="li_privacy"></div>Privacy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="each_cont">
                    <div class="each_page">
                        <div class="each_input">
                            <img src="/icon/search-web.svg" alt="">
                            <input class="each_i" type="text" >
                        </div>
                        <div class="each_user">
                            <img src="/icon/bell-ring.svg" alt="">
                            <div class="each_user_radius">
                                <img src="/icon/ghost.jpg" alt="">
                            </div>
                            <p>ROOT POWN</p>
                        </div>
                    </div>
                    <div class="each_list">
                        <div class="each_start">
                            <div class="each_user_radius">
                                <img src="/icon/ghost.jpg" alt="">
                            </div>
                            <p>Hi there</p>
                            <span>ROOTPOWN (@rootpown)</span>
                        </div>
                        <div class="each_end">
                            <div class="each_end_list">
                                <ul class="ul_each_class">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>
    </div>
</body>
</html>