<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../components/style/main/main.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header_up">
                <div class="header_left">
                    <ul>
                        <li>
                            <img src="/icon/search-web.svg" alt="search">
                        </li>
                        <li>
                            <div class="search_bar"></div>
                        </li>
                    </ul>
                </div>
                <div class="header_right">
                    <ul>
                        <li>
                            <img src="/icon/bell-ring.svg" alt="bell-ring">
                        </li>
                        <li>
                            <img src="/icon/user.jpeg" alt="" class="user_logo">
                        </li>
                        <li>
                            <p>Rooty Powner</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header_button">
                <div class="header_button_left">
                    <ul>
                        <li><img src="/icon/user.jpeg" alt="user"></li>
                        <li>
                            <h5>Hi there,</h5>
                            <h1>Root Pown (@rootrpown)</h1>
                        </li>
                    </ul>
                </div>
                <div class="header_button_right">
                    <ul>
                        <li>User</li>
                        <li>Upload</li>
                        <li>Share</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="logo">
                <ul>
                    <li>
                        <img src="/icon/view-dashboard.svg" alt="">
                    </li>
                    <li>
                        <p>Dashboard</p>
                    </li>
                </ul>
            </div>
            <div class="sidebar_list_up">
                <ul>
                    <li>
                        <img src="/icon/home-account.svg" alt="home">
                            <p>HOME</p>
                        </img>
                    </li>
                    <li>
                        <img src="/icon/passport-biometric.svg" alt="profile">
                            <p>PROFILE</p>
                        </img>
                    </li>
                    <li>
                        <img src="/icon/message.svg" alt="message">
                            <p>MESSAGE</p>
                        </img>
                    </li>
                    <li>
                        <img src="/icon/history.svg" alt="history">
                            <p>HISTORY</p>
                        </img>
                    </li>
                    <li>
                        <img src="/icon/calendar-check.svg" alt="tasks">
                            <p>TASKS</p>
                        </img>
                    </li>
                    <li>
                        <img src="/icon/account-multiple.svg" alt="communities">
                            <p>COMMUNITIES</p>
                        </img>
                    </li>
                </ul>
            </div>
            <div class="sidebar_list_down">
                <ul>
                    <li>
                        <img src="/icon/cog.svg" alt="settings">
                            <p>SETTINGS</p>
                        </img>
                    </li>
                    <li>
                        <img src="/icon/face-agent.svg" alt="support">
                            <p>SUPPORT</p>
                        </img>
                    </li>
                    <li>
                        <img src="/icon/secure.svg" alt="privacy">
                            <p>PRIVACY</p>
                        </img>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="main_row">
                <div class="main_section">
                    <h3>Project</h3>
                   <div class="main_card_row">
                    <div class="main_card">
                        <div class="main_title">
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste illum nihil sint esse ducimus quaerat voluptate! Illum illo soluta magnam veritatis dicta voluptatum? Id, cumque!</h4>
                        </div>
                        <div class="main_imgs">
                            <img src="/icon/star-check-outline.svg" alt="star">
                            <img src="/icon/eye-check-outline.svg" alt="eye">
                            <img src="/icon/share-variant-outline.svg" alt="">
                        </div>
                    </div>
                    <div class="main_card">
                        <div class="main_title">
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste illum nihil sint esse ducimus quaerat voluptate! Illum illo soluta magnam veritatis dicta voluptatum? Id, cumque!</h4>
                        </div>
                        <div class="main_imgs">
                            <img src="/icon/star-check-outline.svg" alt="star">
                            <img src="/icon/eye-check-outline.svg" alt="eye">
                            <img src="/icon/share-variant-outline.svg" alt="">
                        </div>
                    </div>
                    <div class="main_card">
                        <div class="main_title">
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste illum nihil sint esse ducimus quaerat voluptate! Illum illo soluta magnam veritatis dicta voluptatum? Id, cumque!</h4>
                        </div>
                        <div class="main_imgs">
                            <img src="/icon/star-check-outline.svg" alt="star">
                            <img src="/icon/eye-check-outline.svg" alt="eye">
                            <img src="/icon/share-variant-outline.svg" alt="">
                        </div>
                    </div>
                    <div class="main_card">
                        <div class="main_title">
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste illum nihil sint esse ducimus quaerat voluptate! Illum illo soluta magnam veritatis dicta voluptatum? Id, cumque!</h4>
                        </div>
                        <div class="main_imgs">
                            <img src="/icon/star-check-outline.svg" alt="star">
                            <img src="/icon/eye-check-outline.svg" alt="eye">
                            <img src="/icon/share-variant-outline.svg" alt="">
                        </div>
                    </div>
                    <div class="main_card">
                        <div class="main_title">
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste illum nihil sint esse ducimus quaerat voluptate! Illum illo soluta magnam veritatis dicta voluptatum? Id, cumque!</h4>
                        </div>
                        <div class="main_imgs">
                            <img src="/icon/star-check-outline.svg" alt="star">
                            <img src="/icon/eye-check-outline.svg" alt="eye">
                            <img src="/icon/share-variant-outline.svg" alt="">
                        </div>
                    </div>
                    <div class="main_card">
                        <div class="main_title">
                                <h3>Lorem ipsum dolor sit amet.</h3>
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste illum nihil sint esse ducimus quaerat voluptate! Illum illo soluta magnam veritatis dicta voluptatum? Id, cumque!</h4>
                        </div>
                        <div class="main_imgs">
                            <img src="/icon/star-check-outline.svg" alt="star">
                            <img src="/icon/eye-check-outline.svg" alt="eye">
                            <img src="/icon/share-variant-outline.svg" alt="">
                        </div>
                    </div>
                   </div>
                </div>
                <div class="main_aside">
                   <div class="main_aside_row">
                    <div class="main_aside_top">
                        <h3>Announcements</h3>
                        <ul class="main_aside_block_list">
                            <li>
                                <h4>Lorem, ipsum dolor.</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, reprehenderit! Ipsum reiciendis neque quod! Aspernatur maxime facere voluptates temporibus cum!</p>
                                <div class="white_board"></div>
                            </li>
                            <li>
                                <h4>Lorem, ipsum dolor.</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, reprehenderit! Ipsum reiciendis neque quod! Aspernatur maxime facere voluptates temporibus cum!
                                </p>
                                <div class="white_board"></div>
                            </li>
                            <li>
                                <h4>Lorem, ipsum dolor.</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, reprehenderit! Ipsum reiciendis neque quod! Aspernatur maxime facere voluptates temporibus cum!</p>
                                <div class="white_board"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="main_aside_bottom">
                            <h3>Announcements</h3>
                            <ul class="main_aside_block_list">
                                <li>
                                    <div class="img"><img src="/icon/user.jpeg" alt=""></div>
                                        <div class="text">      <h3>@rootpown</h3>
                                         World Root Pown</div>

                                </li>
                                <li>
                                    <img src="/icon/user.jpeg" alt="">
                                    <div class="text">
                                        <h3>@rootpown</h3>
                                        World Root Pown
                                    </div>
                                </li>
                                <li>
                                    <img src="/icon/user.jpeg" alt="">
                                    <div class="text">
                                        <h3>@rootpown</h3>
                                        World Root Pown
                                    </div>
                                </li>
                            </ul>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
